<%= form_for(@professor, :html => { :multipart => true }) do |f| %>
  <% if @professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% @professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group", style="width: 30%">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group", style="width: 30%">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :department, "Department" %><br>
    <%= f.select(:department, ['Computer Science', 'Physics', 'Biology', 'Growth and Structure of Cities', 'English']) %>
  </div>

  <div class="form-group", style="width: 30%">
    <%= f.label :link, "Link to CV or personal website" %><br>
    <%= f.text_field :link, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image, "Upload a profile picture" %><br>
    <%= f.file_field :image, class: "file-field" %>
  </div>

  <span class="actions">
  <%= f.submit class: "btn btn-default" %>
  </span>
<% end %>
